* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	align-items: center;
	height: 80px;
    background-color: rgb(119, 196, 254);
    flex-direction: row;
    flex-wrap: wrap;
}

header button {
    margin-left: 5vw;
    font-size: 15px;
}

.wszystko{
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 15vh;
}

.slowo_zagadka {
    height: 20vh;
    text-align: center;
    font-size: 60px;
    padding-top: 5vh;
    
}

.slowo_odpowiedz {
    text-align: center;
    font-size: 40px;
    height: 20vh;
    justify-content: space-between;
	align-items: center;
    
}

.guziki {
    height: 20vh;
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

.guziki button {
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .wszystko{
    width: 80vw;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
}

.slowo_zagadka {
    height: 20vh;
    text-align: center;
    font-size: 40px;
    padding-top: 5vh;
    
}

.slowo_odpowiedz {
    text-align: center;
    font-size: 30px;
    height: 20vh;
    justify-content: space-between;
	align-items: center;
    padding-top: 3vh;
    
}

}
